/*                                                                  universal content                                                                                               */

html{
  background-color:#325E46;
  
  
}

body{
width:94vw;
margin:auto auto;
height:100vw;
display:grid;
grid-template-rows: 7.5% 87.5% 5%;

font-family: 'Audiowide', sans-serif;
background-color: rgb(54, 58, 61);
color: #e8e6e3;

}


.block-container {
  grid-row:2;
  padding: 0 ;
  gap: 10px;
  display:flex;
  flex-direction:column;
  
}


/*                                                                  Navbar stylings                                                                                               */


.navbar{
  grid-row: 1;
  background-color: #25a55f;
  display:flex ; 
  flex-direction:row ; 
  justify-content:space-between;  
  overflow:hidden;
}

a{
  color: #a5f3fc
}

.side-bar{
  
  background-color: rgb(54, 58, 61);
  width:30%;
  display:flex;
  flex-direction:column;
}

.side-bar hr{
  border-color:#C238E0;
  margin:0;
  height:5px;
  background-color: #C238E0;
  bottom: 0;
}


.side-bar h3{
  padding: 1% 2%;
   margin:auto 0;
text-align:center
}

.side-bar h4{
  padding: 1% 2%;
   margin:auto 0;
text-align:center
}


.navbar a{
  margin: 0 2.5px;
  text-align:center;
  padding-top:12px;
  height:90%;
  width:32%;
  background-color: #2b2d2e;
  float:left;
}

.quick-view{
  text-align:center;
  display:inline-block;
  background-color: #2b2d2e;
  width: 32%;
  margin: 0 2.5px;
}



.quick-view-text{
  text-align: center;
  padding-top:12px
}

.quick-view-text:hover{
  background-color: rgb(54, 58, 61)
}

.quick-view-drop{
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  overflow:hidden;
}

.quick-view-drop a{
  padding:14px 12px;
  width:65%;
  border:1px solid grey;
  display:block;
}

.quick-view:hover .quick-view-drop{
  display:block;
}

.navbar a:hover{
  background-color: #C238E0
}

.nav-navigation{
  height:50%;

  display: flex;
  justify-content:space-evenly
}



.footer{
  grid-row:3;
  background-color: #25a55f;
  float:bottom;
}

hr{

  border-color:#C238E0;
  margin:0;
  height:5px;
  background-color: #c238e0;
}




/*                                                                                               Homepage                                                                  */

.farm-choice{
  display:flex; 
  flex-direction:row; 
  justify-content:space-between; 
  height: 5%;
  width:95%;
  margin: 1rem auto ;
  box-shadow: 0 4px 8px 0 rgba(117, 116, 116, 0.082);
  transition: 0.3s;
  background-color: #2b2d2e;
  border: 5px solid rgb(9, 104, 42);
  cursor:pointer;
}

.farm-choice > h3{
  text-align:center;
  margin: auto 2rem;
}

.farm-choice:hover{
  box-shadow: 0 8px 16px 0 #c138e080;
}

/*                                                                                  index page                                                                             */

.stack {
  box-shadow: 0 4px 8px 0 rgba(117, 116, 116, 0.082);
  transition: 0.3s;
  display:flex;
  height:55px;
  flex-direction:row;
  justify-content: space-between;
  padding: 0 5px;
  background-color: rgb(54, 58, 61);
}

.stack:hover {
box-shadow: 0 8px 16px 0 #c138e080;
}

.fixed{
  position: fixed;
}

.farm-display{
  display:grid;
  margin-bottom:0;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50% 50%;
  padding: 1rem;
  gap: 10px;
  height:70%; 
}

.zone-container{ 
  border: 5px solid rgb(9, 104, 42);
  padding: 0 5px;
  background-color: #2b2d2e;
  overflow:hidden;
}

.zone-header{
  display:flex; 
  flex-direction:row; 
  justify-content: space-between; 
  padding:0 1rem;
  height: 15%;
  
}

.stack-container{
  margin:10px 0;
  display: grid;
  gap: 5px 0;
  height: 65%;
  overflow-y: scroll; 
}


/* LIGHTS  */

.stack-container-light{
  display:grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: 31% 31% 31%;
  gap: 2%;
  margin:1%;
  height:65%;
}

.light-container{
  display:flex;
  height:90%;
  justify-content: space-between;
  margin:2.5%
}

.light-dropdown{
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  width:100px;
  float:bottom; 
}

.light-dropdown button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight:600;
  display:flex;
}

.light-dropdown button:hover{
  background-color: rgb(9, 104, 42);
}

.light-dropdown div{
  width:100%;
  height:100%;
  display:flex; 
  flex-direction:column;
  background-color: rgb(54, 58, 61);
  border: 2px solid rgb(9, 104, 42)
}

.stack:hover .light-dropdown{
  display:block;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

/* Make-grey  #43464b   Chateau Green #45bb6a  Seance purple #9f92ad*/

.page-bar{

align-self:center;
align-content:center; 
 gap: 2rem;
 margin:auto auto;
}


/*                                                                            Detail page                                                                                           */

.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative; 
  background-color: rgb(24, 26, 27);
  padding: 20px; 
  margin: auto; 
  width: 50%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-div{
  width:50%;
  display:flex;
  justify-content: space-around;
  margin: 0 auto
}

button{
  background-color: #4CAF50;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight:600;
}

button:hover{
  background-color:rgb(9, 104, 42);
  color:#e8e6e3;
}

.close-btn {
  cursor:pointer;
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.stack-detail {
  box-shadow: 0 4px 8px 0 rgba(117, 116, 116, 0.301);
  transition: 0.3s;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 0 10px;
  width:80%;
  margin: 0 10%;
  flex-wrap:wrap;
  overflow:hidden;
  height:74px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  background-color: #2b2d2e
}

.stack-detail:hover{
  height:148px;
  box-shadow: 0 8px 16px 0 #c138e080;
}

.stack-detail > p{
  width:30%;
  height:42px;
  
}

/*                                                                  Task Viewer                                                                                                   */

.overall-display{
  display:grid;
  margin: 0 1%;
  
  grid-template-columns: 33% 33% 33%;
  padding-right: 1rem;
  gap: 1rem;
  height:80%; 
}

.overall-display h2{
  text-align:center;
}


.task-container{ 
  border: 5px solid rgb(9, 104, 42);
  padding: 0 5px;
  background-color: #2b2d2e;
  display:flex;
  flex-direction: column;
}

.task-container h3{
  margin:1.5rem auto;
  text-align:center;

}
.task-log{
  margin:10px 0;
  display: flex;
  flex-direction:column;
  gap: 5px 0;
  height: 100%;
  overflow-y: scroll;;
}

.zone-container-task{
  box-shadow: 0 4px 8px 0 rgba(117, 116, 116, 0.301);
  transition: 0.5s;
  display:flex;
  flex-direction:column;
  padding: 0 10px;
  width:90%;
  margin: 0 auto;
  overflow:hidden;
  height:74px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  background-color: rgb(54, 58, 61);
  border: 2px solid rgb(9, 104, 42)
}

.zone-container-task hr{
  height:2px;
}

.zone-container h3{
  margin:1rem auto;
}

.task {
  height:1.5rem;
  margin: auto 0;
  background-color:#2b2d2e;
}

.task p{
  height:1.5rem;
  margin: auto 1rem;
  
}

.task:hover{
  box-shadow: 0 8px 16px 0 #c138e080;
  cursor:pointer;
}
.zone-container-task:hover  p{
  height:2rem;
}
.zone-container-task:hover div{
  height:4rem;
}

.zone-container-task:hover{
  height:400px;
  overflow-y:scroll;
  
}


/*                                                                                Modifiers                                                                         */

.scouted{
  color:#BAFF59;
}

.not-scouted{
  color:orange;
}

.calibrated{
  color:dodgerblue;
}

.not-calibrated{
  color:crimson;
}

.to_fix{
  border:2px solid crimson
}

.empty{
  border:2px solid black !important;
}

.info-container:hover .infocard{
  visibility:visible;
}

.infocard{
  /* visibility:hidden; */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}