{% load static %}

<div class="navbar">
    <div style="display:flex;">
        <img  src="{% static 'farm_map/vertical-manager.png' %}" alt="">     
    </div>
    <div class='side-bar'>
        <div style='height:50%; overflow:hidden;'>
            <h3>{{request.user.username}}</h3>
            <h4>{{request.user.farm_location}}</h4>
        </div>
        <hr>
        <div class="nav-navigation">
            <a href=" {% url 'farm_map:index' %} ">Home</a>
            {% if not request.user.is_anonymous %}
            <a href="{% url 'farm_map:logout' %} ">Logout</a>
            <div class="quick-view">
                <div class="quick-view-text">Quick View</div>
                <div class="quick-view-drop">
                    <a href=" {% url 'farm_map:lights' %} ">Lights</a>
                    <a href=" {% url 'farm_map:forecast' %}">Management</a>
                    <a href=" {% url 'farm_map:task_viewer' %} ">Task Viewer</a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'farm_map:login' %} ">Login</a>
            <a href="{% url 'farm_map:register' %} ">Register</a>
            {% endif %}
        </div>
    </div>
</div>

