{% extends 'farm_map/base.html' %}


{% block title %}
{{request.user.username}} | {{farm.name}} - manager
{% endblock title %}


{% block content  %}

<div class='block-container'>
    <hr>
    
        <h1 style="text-align: center">{{farm.name}} {{farm.id}}</h1>
        <div class="farm-display" id="app">
            
            {% for zone in zones %}
            
            <form class='zone-container' method="POST" action="{% url 'farm_map:management' %} ">
            <div class="zone-header">
                <h3 style="text-align: center;">{{ zone }}</h3><p>&#127811</p><h3 style="text-align: center">{{ zone.produce}}</h3>
            </div>
            <hr>
                <h4 style="height:5%;padding-left: 10px">stack ID</h4>
            <div class="stack-container" style="height:60%">
            {% for stack in zone.stack.all %}
        
                <div class= "stack">
                    <p style="width:25px ;padding-left:5px" >{{ stack.identity}} |</p>
                    <div style="display:flex; justify-content: space-between;">
                        
                        
                        <div style='align-self:center; margin:50% 0'>{{form}}</div>  
                    </div>
                    <div></div>

                </div>
                
            
        {% endfor %}
        
            </div>
            <div style="display:flex; justify-content:center">
                
                <button>Apply</button>
            </form>
            {% csrf_token %}
        </div>
        {% endfor %}
        
    </div>
        


</div>






{% endblock content  %}